body{
    margin: 0;
    padding: 0;
    background: url(emma.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: sans-serif;
}

.game
    {
        width:200px;
        height:150px;
        background-color: rgba(248, 248, 255, 0.336);
        margin-left:300px;
        margin-top:100px;
        position: fixed;
        padding:10px;
        align-content: center;
        border-block-end-style: groove;
        border: darkblue;
        border-radius:10px;
        text-align: center;
        color: rgb(17, 28, 65);

    }

    #button

            {
                background-color: rgb(99, 111, 121);
            }
